@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  display: flex;
  @apply hidden;
}

#Container {
  @apply bg-stone-500;
}

#Header {
  @apply text-white;
}

#DynamicButton {
  @apply text-white;
}

#StaticButton {
  @apply text-white;
}

#Input {
  @apply text-white;
}

#Range {
  @apply text-white;
}

#Radio {
  @apply text-white;
}