@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-[100vh] flex;
    background: #242424;
}

#Container {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  #Container {
    background: #242424;
    color: rgba(255, 255, 255, 0.87);
  }
}
